<div class="login-page">
  <div class="login-form-container">
    <div class="logo-area">
      <div class="logo-icon"></div>
    </div>

    <h2>Acceso al Sistema de tracking</h2>
    <p class="trial-link">
      <a href="#" >Ingrese los datos para ingresar</a>
    </p>

    <form [formGroup]="loginForm" >
      <label for="email">Email</label>
      <input type="email" id="email"name="email" required formControlName="email"> <label for="password">Password</label>
      <input type="password" id="password"  name="password" required formControlName="password"> <div class="options-row">
        <label class="remember-me">
          <input type="checkbox"  name="rememberMe">
          Remember me
        </label>
        <a href="#" (click)="forgotPassword()" class="forgot-password">Forgot password?</a>
      </div>

     <!--  <button type="submit" (click)="onSubmit()" [disabled]="loginForm.invalid || (loading$ | async)">
        <span *ngIf="!(loading$ | async)">Iniciar Sesión</span>
        <span *ngIf="loading$ | async">Cargando...</span>
      </button> -->


      <button
    type="button"
    (click)="onSubmit()"
    class="sign-in-button"
    [disabled]="loginForm.invalid || (loading$ | async)">
    Ingresar
</button>

      </form>

    <div class="separator">
      <span>Or continue with</span>
    </div>

    <div class="social-login">
      <button (click)="loginWithGoogle()" class="social-button google">
        <div id="google-icon-png"></div>
        Google
      </button>
      <button (click)="loginWithGitHub()" class="social-button github">
        <div id="github-icon-png"></div>
        GitHub
      </button>
    </div>
  </div>

  <div class="login-image-side">
  </div>
</div>
